html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

h2 {
  font-size: 3rem;
}

.banner {
  max-height: 500px;
  position: relative;
}

.img-flex {
  display: block;
  width: 100%;
}

.btn {
  display: inline-block;
  border-radius: 8px;
  border: 3px solid #666;
  background-color: #666;
  padding: 0.4em 0.75em 0.3em;
  font-size: 1.125rem;
}

.btn-big {
  font-size: 1.5rem;
}

.btn:hover {
  background-color: #333;
  border-color: #333;
}

body {
  margin: 0;
}

.content {
  position: absolute;
}

.img-circle {
  float: left;
}
